<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.myacxy.agsm"
    >
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application"
        >

        <!--Active Android configuration-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="agsm.db"
            />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5"
            />
        <meta-data
            android:name="AA_MODELS"
            android:value=  "net.myacxy.agsm.models.GameEntity,
                             net.myacxy.agsm.models.GameServerEntity,
                             net.myacxy.agsm.models.PlayerEntity"
            />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value=  "net.myacxy.agsm.utils.TreeMapStringStringToJsonSerializer,
                             net.myacxy.agsm.utils.JodaDateTimeSerializer"
            />

        <!--Main / Home Activity-->
        <activity
            android:name=".activities.MainActivity_"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Add Server Activity-->
        <activity
            android:name=".activities.AddServerActivity_"
            android:theme="@style/AddServerTheme"
            />

        <!--Server Activity-->
        <activity
            android:name=".activities.ServerActivity_"
            android:theme="@style/ServerTheme"
            />

        <!--Settings Activity-->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            >
        </activity>

    </application>

</manifest>
